In [ ]:
import numpy as np
import pandas as pd
import zipfile
import requests

## Brief
Use data from the last 12 months of Cyclistic bike-share activity to understand how casual riders and annual members use Cyclistic bikes differently. Use these insights to create data visualizations to present to the marketing team and executives to inform marketing strategy to convert casual users into annual members. I am also interested in exploring weather data with this set to see how rides may correlate with weather conditions.

## Data Sources
Cyclistic is a fictional company created for the purposes of this case study. The datasets are real bike-share data made publicly available by [Motivate International Inc.](https://divvy-tripdata.s3.amazonaws.com/index.html) under this [license](https://divvy-tripdata.s3.amazonaws.com/index.html).

Weather data was aggregated and downloaded from 

## Process
### Download and unzip files
Rather than downloading, unzipping, and moving each individual file, I'll use the Python `requests` and `zipfile` modules to download and unzip the files within the project directory.

In [ ]:
# list of files to download ---------
files = ["202304", "202303", "202302", "202301", "202212", "202211", "202210", "202209", "202208", "202207", "202206", "202205"]

# # ** Uncomment below to download files **
# # download files using requests module --------
# for file in files:
#     url = "https://divvy-tripdata.s3.amazonaws.com/" + file + "-divvy-tripdata.zip"
#     r = requests.get(url)
#     fn = file + ".zip"
#     with open(fn, 'wb') as f:
#         f.write(r.content)
#     with zipfile.ZipFile(fn, 'r') as fl:    # << unzips files with zipfile module
#         fl.extractall()

In [6]:
# # ** Uncomment below to clean up folder **
# # ! <- tells python to run this on the command line
# !mkdir data # << creates new subdirectory called 'data'
# !mv *.csv data/ # << moves all .csv files into the new data directory
# !rm *.zip # << deletes all of the .zip files

In [7]:
# create dictionary and read in dataframes
df = {}
for file in files:
    df[file] = pd.read_csv("data/" + file + "-divvy-tripdata.csv")

In [10]:
for file in files:
    print(df[file].shape)

(426590, 13)
(258678, 13)
(190445, 13)
(190301, 13)
(181806, 13)
(337735, 13)
(558685, 13)
(701339, 13)
(785932, 13)
(823488, 13)
(769204, 13)
(634858, 13)

In [9]:
for file in files:
    print(df[file].info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 426590 entries, 0 to 426589
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             426590 non-null  object
 1   rideable_type       426590 non-null  object
 2   started_at          426590 non-null  object
 3   ended_at            426590 non-null  object
 4   start_station_name  362776 non-null  object
 5   start_station_id    362776 non-null  object
 6   end_station_name    357960 non-null  object
 7   end_station_id      357960 non-null  object
 8   start_lat           426590 non-null  float64
 9   start_lng           426590 non-null  float64
 10  end_lat             426155 non-null  float64
 11  end_lng             426155 non-null  float64
 12  member_casual       426590 non-null  object
dtypes: float64(4), object(9)
memory usage: 42.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258678 entries, 0 to 258677
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             258678 non-null  object
 1   rideable_type       258678 non-null  object
 2   started_at          258678 non-null  object
 3   ended_at            258678 non-null  object
 4   start_station_name  222768 non-null  object
 5   start_station_id    222768 non-null  object
 6   end_station_name    220240 non-null  object
 7   end_station_id      220240 non-null  object
 8   start_lat           258678 non-null  float64
 9   start_lng           258678 non-null  float64
 10  end_lat             258495 non-null  float64
 11  end_lng             258495 non-null  float64
 12  member_casual       258678 non-null  object
dtypes: float64(4), object(9)
memory usage: 25.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190445 entries, 0 to 190444
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             190445 non-null  object
 1   rideable_type       190445 non-null  object
 2   started_at          190445 non-null  object
 3   ended_at            190445 non-null  object
 4   start_station_name  164972 non-null  object
 5   start_station_id    164840 non-null  object
 6   end_station_name    163707 non-null  object
 7   end_station_id      163566 non-null  object
 8   start_lat           190445 non-null  float64
 9   start_lng           190445 non-null  float64
 10  end_lat             190329 non-null  float64
 11  end_lng             190329 non-null  float64
 12  member_casual       190445 non-null  object
dtypes: float64(4), object(9)
memory usage: 18.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190301 entries, 0 to 190300
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             190301 non-null  object
 1   rideable_type       190301 non-null  object
 2   started_at          190301 non-null  object
 3   ended_at            190301 non-null  object
 4   start_station_name  163580 non-null  object
 5   start_station_id    163580 non-null  object
 6   end_station_name    162461 non-null  object
 7   end_station_id      162461 non-null  object
 8   start_lat           190301 non-null  float64
 9   start_lng           190301 non-null  float64
 10  end_lat             190174 non-null  float64
 11  end_lng             190174 non-null  float64
 12  member_casual       190301 non-null  object
dtypes: float64(4), object(9)
memory usage: 18.9+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181806 entries, 0 to 181805
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             181806 non-null  object
 1   rideable_type       181806 non-null  object
 2   started_at          181806 non-null  object
 3   ended_at            181806 non-null  object
 4   start_station_name  152523 non-null  object
 5   start_station_id    152523 non-null  object
 6   end_station_name    150648 non-null  object
 7   end_station_id      150648 non-null  object
 8   start_lat           181806 non-null  float64
 9   start_lng           181806 non-null  float64
 10  end_lat             181678 non-null  float64
 11  end_lng             181678 non-null  float64
 12  member_casual       181806 non-null  object
dtypes: float64(4), object(9)
memory usage: 18.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 337735 entries, 0 to 337734
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             337735 non-null  object
 1   rideable_type       337735 non-null  object
 2   started_at          337735 non-null  object
 3   ended_at            337735 non-null  object
 4   start_station_name  285778 non-null  object
 5   start_station_id    285778 non-null  object
 6   end_station_name    283476 non-null  object
 7   end_station_id      283476 non-null  object
 8   start_lat           337735 non-null  float64
 9   start_lng           337735 non-null  float64
 10  end_lat             337505 non-null  float64
 11  end_lng             337505 non-null  float64
 12  member_casual       337735 non-null  object
dtypes: float64(4), object(9)
memory usage: 33.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 558685 entries, 0 to 558684
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             558685 non-null  object
 1   rideable_type       558685 non-null  object
 2   started_at          558685 non-null  object
 3   ended_at            558685 non-null  object
 4   start_station_name  467330 non-null  object
 5   start_station_id    467330 non-null  object
 6   end_station_name    462068 non-null  object
 7   end_station_id      462068 non-null  object
 8   start_lat           558685 non-null  float64
 9   start_lng           558685 non-null  float64
 10  end_lat             558210 non-null  float64
 11  end_lng             558210 non-null  float64
 12  member_casual       558685 non-null  object
dtypes: float64(4), object(9)
memory usage: 55.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 701339 entries, 0 to 701338
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             701339 non-null  object
 1   rideable_type       701339 non-null  object
 2   started_at          701339 non-null  object
 3   ended_at            701339 non-null  object
 4   start_station_name  597559 non-null  object
 5   start_station_id    597559 non-null  object
 6   end_station_name    590154 non-null  object
 7   end_station_id      590154 non-null  object
 8   start_lat           701339 non-null  float64
 9   start_lng           701339 non-null  float64
 10  end_lat             700627 non-null  float64
 11  end_lng             700627 non-null  float64
 12  member_casual       701339 non-null  object
dtypes: float64(4), object(9)
memory usage: 69.6+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785932 entries, 0 to 785931
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             785932 non-null  object
 1   rideable_type       785932 non-null  object
 2   started_at          785932 non-null  object
 3   ended_at            785932 non-null  object
 4   start_station_name  673895 non-null  object
 5   start_station_id    673895 non-null  object
 6   end_station_name    665410 non-null  object
 7   end_station_id      665410 non-null  object
 8   start_lat           785932 non-null  float64
 9   start_lng           785932 non-null  float64
 10  end_lat             785089 non-null  float64
 11  end_lng             785089 non-null  float64
 12  member_casual       785932 non-null  object
dtypes: float64(4), object(9)
memory usage: 78.0+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 823488 entries, 0 to 823487
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             823488 non-null  object
 1   rideable_type       823488 non-null  object
 2   started_at          823488 non-null  object
 3   ended_at            823488 non-null  object
 4   start_station_name  711457 non-null  object
 5   start_station_id    711457 non-null  object
 6   end_station_name    702537 non-null  object
 7   end_station_id      702537 non-null  object
 8   start_lat           823488 non-null  float64
 9   start_lng           823488 non-null  float64
 10  end_lat             822541 non-null  float64
 11  end_lng             822541 non-null  float64
 12  member_casual       823488 non-null  object
dtypes: float64(4), object(9)
memory usage: 81.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 769204 entries, 0 to 769203
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             769204 non-null  object
 1   rideable_type       769204 non-null  object
 2   started_at          769204 non-null  object
 3   ended_at            769204 non-null  object
 4   start_station_name  676260 non-null  object
 5   start_station_id    676260 non-null  object
 6   end_station_name    669052 non-null  object
 7   end_station_id      669052 non-null  object
 8   start_lat           769204 non-null  float64
 9   start_lng           769204 non-null  float64
 10  end_lat             768149 non-null  float64
 11  end_lng             768149 non-null  float64
 12  member_casual       769204 non-null  object
dtypes: float64(4), object(9)
memory usage: 76.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 634858 entries, 0 to 634857
Data columns (total 13 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   ride_id             634858 non-null  object
 1   rideable_type       634858 non-null  object
 2   started_at          634858 non-null  object
 3   ended_at            634858 non-null  object
 4   start_station_name  548154 non-null  object
 5   start_station_id    548154 non-null  object
 6   end_station_name    541687 non-null  object
 7   end_station_id      541687 non-null  object
 8   start_lat           634858 non-null  float64
 9   start_lng           634858 non-null  float64
 10  end_lat             634136 non-null  float64
 11  end_lng             634136 non-null  float64
 12  member_casual       634858 non-null  object
dtypes: float64(4), object(9)
memory usage: 63.0+ MB
None